<h2 class="font-aclonica text-2xl font-Aclonica text-orange-500 font-bold font-Inter flex  justify-center mt-10">Pitla
    <span class="text-green-500 ml-2">Bhakri</span>
</h2>
<div class="flex flex-col items-center justify-center p-4 mt-6">
    <input type="text" placeholder="Username"
        class="w-full md:w-64 p-2 mb-4 border rounded focus:outline-none focus:border-blue-500">
    <input type="password" placeholder="Password"
        class="w-full md:w-64 p-2 mb-4 border rounded focus:outline-none focus:border-blue-500">
    <div class="flex gap-16">
        <label class="flex items-center mb-4">
            <input type="checkbox" class="form-checkbox mr-2">
            <span class="text-xs">Remember Me</span>
        </label>
        <a href="#" class="text-blue-500 hover:underline mb-4 text-xs">Forgot Password?</a>
    </div>
    <button
        class="w-40 h-10 bg-orange-500 text-white rounded-full hover:bg-orange-600 focus:outline-none focus:shadow-outline-orange active:bg-orange-800">
        Login
    </button>
</div>
<p class="text-center text-black font-roboto text-xs font-normal leading-5 mt-3">
    Or Login With
</p>
<div class="flex justify-center items-center mt-6">
    <button
        class="w-40 h-10 bg-blue-500 text-white rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
        Phone Number
    </button>
</div>
<div class="flex flex-col text-xs justify-center items-center mt-8">
    <p>Don’t have an account ?</p>
    <button
        class="w-40 h-10 bg-green-500 text-white rounded-full hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-800 mt-4 text-xs">
        Register Now
    </button>
</div>
<footer class="font-Roboto text-xs text-gray-600 font-normal flex  justify-center mt-20 items-center "><img
        src="../../assets/icons8-help-100 1.png" class="mr-2" alt="">Help & FAQs</footer>