<div>
  <h2 class="font-aclonica text-2xl font-Aclonica text-orange-500 font-bold font-Inter flex  justify-center mt-10">Pitla
    <span class="text-green-500 ml-2">Bhakri</span></h2>
  <h1 class="font-Roboto text-base font-bold font-Inter flex  justify-center mt-6">Enter Your Phone Number</h1>
  <h1 class="font-Roboto text-xs font-Inter flex  justify-center mt-3">We will send you the <span
      class="font-bold ml-2 mr-2">4</span> Digit verification code </h1>
  <div class="md:w-375 h-809 md:mx-auto p-10">
    <input type="number" class="w-full h-full border border-gray-300 rounded p-2 " placeholder="Enter Phone Number">
  </div>

  <div class="font-Roboto flex  justify-center mt-6">
    <button
      class="py-2 px-4 bg-orange-500 text-white font-semibold rounded-lg shadow-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75">
      Generate OTP
    </button>
  </div>

  <footer class="font-Roboto text-xs text-gray-600 font-normal flex  justify-center mt-6 items-center"><img
      src="../../assets/icons8-help-100 1.png" class="mr-2" alt="">Help & FAQs</footer>
</div>